<!-- For every reactive form, use directive [formGroup] to bind to userForm -->
<!-- Bind the onSubmit handler via the (ngSubmit) directive -->
<!-- To connect an HTML input elem to a reactive form, add a formControlName attribute -->
<!-- Use the *ngIf and [ngClass] directives to control error messages -->
<!-- After submitting the form, it will be validated every time the user changes input values -->
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">

  <div class="form-group" [ngClass]="{'has-error': invalidFirstName()}"> <!-- First Name -->
    <label for="first_name" class="control-label">First Name</label>
    <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Martin">
    <p *ngIf="invalidFirstName()" id="first_name_error" class="help-block">Invalid first name.</p>
  </div>

  <div class="form-group" [ngClass]="{'has-error': invalidLastName()}"> <!-- Last Name -->
    <label for="last_name" class="control-label">Last Name</label>
    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Toha">
    <p *ngIf="invalidLastName()" id="last_name_error" class="help-block">Invalid last name.</p>
  </div>

  <div class="form-group" [ngClass]="{'has-error': invalidEmail()}"> <!-- Email -->
    <label for="email" class="control-label">E-mail</label>
    <input type="text" class="form-control" id="email" name="email" placeholder="your@email.com">
    <p *ngIf="invalidEmail()" id="email_error" class="help-block">Invalid email address.</p>
  </div>

  <div class="form-group" [ngClass]="{'has-error': invalidZipcode()}"> <!-- Zip Code-->
    <label for="zipcode" class="control-label">Zip Code</label>
    <input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="#####">
    <p *ngIf="invalidZipcode()" id="zipcode_error" class="help-block">Invalid zip code.</p>
  </div>

  <div class="form-group" [ngClass]="{'has-error': invalidPassword()}"> <!-- Password -->
    <label for="password" class="control-label">Password</label>
    <input type="text" class="form-control" id="password" name="password" placeholder="*****">
    <p *ngIf="invalidPassword()" id="password_error" class="help-block">Invalid password.</p>
    <!-- <p id="password_error" class="help-block">Invalid password</p> <- old -->
  </div>

  <div class="form-group has-error"> <!-- Register Button -->
    <button type="submit" class="btn btn-primary">Register</button>
  </div>

</form>
